<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tables</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/38a3826985.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron";">
            <h1 class="display-6 text-center" style="padding: 20px">
              <i class="fas fa-fire"></i> Hot Restaurant
            </h1>
            <div style="border-top: 2px solid darkgray; padding: 20px;">
                <h2 class="display-6 text-center">Current Reservations and Waiting List</h2>
            </div>
          </div>
        </div>
      </div>
      <div class = "row" style="padding: 20px;">
          <div class="col-12">
              <div class = "card">
                  <div class = "card-header">
                      <h3 class = "display-6">Current Reservations</h3>
                  </div>
              </div>
          </div>
      </div>
      <div class = "row" style="padding: 20px;">
        <div class="col-12">
            <div class = "card">
                <div class = "card-header">
                    <h3 class = "display-6">Waiting List</h3>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
