<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tables</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/38a3826985.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center";">
          <h1 class="display-6 text-center" style="padding: 10px">
            <i class="fas fa-fire"></i> Hot Restaurant
          </h1>
          <div style="border-top: 2px solid darkgray; padding: 20px;">
            <h2 class="display-6 text-center">
              Current Reservations and Waiting List
            </h2>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <a href="/reservation"><button type="button" class="btn btn-danger">
                Make Reservation
              </button></a>
              <a href="/"><button class = "btn"><i class="fas fa-home"></i></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 20px;">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="display-6">Current Reservations</h4>
          </div>
          <div class="card-body" id = "currentReservations"></div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 20px;">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="display-6">Waiting List</h4>
          </div>
          <div class="card-body" id = "waitlistReservations"></div>
        </div>
      </div>
    </div>
    <script>
      $.get("/api/reservation",(data)=>{
        console.log(data);
        if(data){
          for(var i = 0; i < data.length; i++){


            var currentReservations = $("<div>");
              currentReservations.addClass("section");
              currentReservations.attr("id", "section" + i +1);
              $("#currentReservations").append(currentReservations);

                var addTableNum = i + 1;
                $("section" +i + 1).append("<h1><span class='label'>" + addTableNum +"</span>" + data[i].customerName + "</h1>");

                }
              
            }
          })
  
            
            // {
            //   customerName: "Emerald",
            //   phoneNumber: "333-333-3333",
            //   customerEmail: "bob@test.com",
            //   customerID: "Emerald"
            // },
            // I think this may be  why we were getting undefined ^^^
            // Does this match up to the collection returned by our API? 
            // var currentRes = `Name: ${data[i].customerName} \n` + 
            //   `Email: ${data[i].customerEmail} \n` +
            //   `ID: ${data[i].customerID}\n` +
            //   `Phone Number: ${data[i].phoneNumber}\n`

            //   document.getElementById("currentReservations").append(currentRes);
              //I think the var curentRes needs to be a jquery object
              // I think it appends the text, so if we remove the div tags and add in \n, it may work
              //THink that'll work too
              // also going to add in more back ticks and + signs because I think it'll add in
              // all the extra spaces from pressing enter
              //still no enter space for some reason
              // i will lose my mind :)
              //already lost mine
              // var currentRes = i +1;
      //      }
      //   }
      // })

      // $.get("/api/waitlist",(data)=>{
      //   if(data){
          
      //   }
      // })
      
      // <div class="card" style="width: 18rem;">
      //   <div class="card-body">
      //     <h5 class="card-title">Card title</h5>
      //     <p class="card-text">Name</p>
      //     <p class="card-text">Number</p>
      //   </div>
      // </div>
    </script>
  </body>
</html>
